@page "/"
@using BlazorHN.Components
@using BlazorHN.Models
@using BlazorHN.Services
@using Microsoft.FluentUI.AspNetCore.Components
@inject IHackerNewsService HnService

<PageTitle>Hacker News</PageTitle>

<div style="background-color: #ff6600; padding: 10px; margin-bottom: 20px;">
    <strong>Hacker News</strong>
</div>

@if (_itemList is null)
{
    <FluentProgressRing/>
}
else
{
    <div class="list-group">
        @foreach (var item in _itemList)
        {
            <StoryItem Item="@item" />
        }
    </div>
}

@code 
{
    private List<HackerNewsItem>? _itemList;

    protected override async Task OnInitializedAsync()
    {
        var idList = await HnService.GetTopStoryIdListAsync();
        var result = await Task.WhenAll(idList.Take(5).Select(id => HnService.GetItemAsync(id)));
        _itemList = result.Where(i => i is not null).Cast<HackerNewsItem>().ToList();
    }
}